$text: #071d0f;
$background: #fbfefc;
$primary: #4fd489;
$secondary: #93a7e7;
$accent: #7f6dde;
$d_accent: #271872;

$reject: rgb(255, 100, 100);
$success: rgb(100, 250, 100);
$info: rgb(100, 100, 250);
